.catalog-section{
    background-color: $background;
    padding: 98px 0 120px 0;
}
.catalog-title-container{
    width: 540px;
    margin: 0 auto 80px;

}
.catalog-title{
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 75px;
    text-transform: uppercase;
    color: $secondary-color_1;
}
.filter-form{
    margin-bottom: 23px;
}

.catalog{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.card{
    background: $secondary-color_5;
    box-shadow: 0px 0px 18px rgba(68, 68, 68, 0.09);
    cursor: pointer;
    height: 366px;
    transition: all 200ms linear;
}
.card:hover{
    opacity: 0.9;
    transition: all 200ms linear;
}
.card-img-container{}
.card__img{}
.card-info-container{
    padding: 20px 20px 35px 20px;
}
.card-info__title{
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 23px;
    color: $main-color_1;
    margin-bottom: 13px;
}
.card-info__title span{
    line-height: 26px;
    color: $secondary-color_2;
    margin-right: 8px;
}
.card-info__characteristics{
    display: flex;
    margin-bottom: 26px;
}
.card-info__characteristics li{
    border-right: 1px solid $secondary-color_2;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: $secondary-color_2;
    padding: 0 8px 0 0;
    margin-right: 8px;

    @include _1366{
        font-size: 11px;
    }
}
.card-info__characteristics li:last-child{
    border: none;
}
.card-info__price{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    color: $main-color_1;
}



//<---------------------------- Filter ------------------------------->
.select-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 2fr;
    column-gap: 20px;
    margin-bottom: 25px;
}
div.selectBox {
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-align: left;
    line-height: 30px;
    clear: both;
    color: #888;
}
span.selected {
    width:170px;
    padding: 13px 16px;
    border:1px solid $secondary-color_3;
    border-radius: $radius;
    overflow:hidden;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: $main-color_1;

    position:relative;
    float:left;
    z-index:1;

    @include _1366{
        width: 140px;
        padding: 10px 13px;
    }
}

.selected::after{
    content: "";
    position: absolute;
    right: 16px;
    top: calc(50% - 4px);
    width: 13px;
    height: 8px;
    background-image: url('../images/usefull/Expand\ More.png');
    background-size: contain;
    background-repeat: no-repeat;
}

div.selectOptions {
    position:absolute;
    z-index: 1;
    top:0;
    left:0;
    width:100%;
    background: $secondary-color_5;
    border: 1px solid $secondary-color_4;
    box-shadow: 0px 0px 27px rgba(0, 0, 0, 0.04);
    border-radius: $radius;
    overflow:hidden;
    padding: 16px;
    display:none;
}
 
span.selectOption {
    color: $main-color_1;
    display:block;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 12px;
    margin-bottom: 20px;
}
span.selectOption:last-child{
    margin-bottom: 0;
}
 
span.selectOption:hover {
    color:$main-color_3;	
}

.filter-btn{
    background-color: $main-color_3;
    border-radius: $radius;
    border: 2px solid $main-color_3;
    cursor: pointer;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: $main-color_2;
    transition: all 200ms linear;
}
.filter-btn:hover{
    background-color: $background;
    color: $main-color_3;
    transition: all 200ms linear;
}


// <------------------- Checkbox ----------------------------->

.filter-container{
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.filter-checkbox{
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.filter-checkbox+label{
    display: inline-flex;
    align-items: center;
    user-select: none;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: $secondary-color_2;
}
.filter-checkbox+label::before{
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1px solid $secondary-color_2;
    border-radius: 5px;
    margin-right: 8px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.filter-checkbox:checked+label::before{
    border-color: $main-color_3;
    background-image: url("../images/usefull/Shape.png");
}

// --------------- sort ----------------------------------------->
.sort-container{}
.sort-container__control{
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}
.sort-text{
    margin-right: 16px;
}
.sort-icon{
    display: block;
    width: 11px;
    height: 13px;
    background-image: url('../images/usefull/Group.png');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    margin-right: 8px;
}
.sort-clicked-icon{
    transform: rotate(180deg);
}
.sort-value{
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: $secondary-color_2;
    cursor: pointer;
}
.sort-value:hover{
    color: $main-color_3;
}
.sort-list{
    display: none;
    float: right;
    background: $secondary-color_5;
    border-radius: $radius;
    padding: 12px;
}
._open-list{
    display: inline-block;
}
.sort-list__item{
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: $main-color_1;
    cursor: pointer;
    margin-bottom: 12px;
}
.sort-list__item:last-child{
    margin-bottom: 0;
}
.sort-list__item:hover{
    color: $main-color_3  
}
