footer {
    padding: 37px 0 36px 0;
    background-color: $main-color_1;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-logo{
    display: block;
    width: 191px;
    height: 48px;
    background-image: url('../images/logo\ \(Traced\).png');
    background-size: contain;
}
.footer-nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
}
.footer-nav-container span{
    color: $main-color_2;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    margin-right: 40px;
}
.footer-icons-container svg{
    margin-right: 31px;
    
}