@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700&family=Nunito:wght@400;600;800&display=swap');

$font: 'Noto Sans', sans-serif;

$radius: 15px;

$main-color_1: #000000;
$main-color_2: #f8f8f8;
$main-color_3: #DF4E3C;

$background: #E5E5E5;

$secondary-color_1: #AEAEAE;
$secondary-color_2: #8D8D8D;
$secondary-color_3: #BDBDBD;
$secondary-color_4: #C4C4C4;
$secondary-color_5: #ffffff;
$secondary-color_6: #959595;
$secondary-color_7: #507A36;